*{
	margin:0;
	padding:0;
	color:white;
}
button a{	
	text-decoration:none;
}
input:focus, textarea:focus, select:focus, button:focus{
	outline: none;
}
table{
	border-collapse:collapse;
	margin-bottom:20px;
}
.head{
	background:#D42A2A;
}
tr, th{
	border:2px solid white;
	padding:10px;
}
.my-content{
	position:relative;
	left:50%;
	transform:translateX(-50%);
	width:700px;
	background:rgb(0, 0, 0);
	padding:20px;
}
.fund{
	font-size:18x;
}
.fund input{
	background:none;
	padding:10px;
	border:none;
	border-bottom:2px solid rgba(300,300,300, .5);
	-webkit-transition:.5s;
			transition:.5s;	
}
.fund input:focus, .fund input:valid{
	border-bottom:2px solid rgba(300, 300, 300, 1);
}
.fund input[type=submit]{
	padding:10px 20px;
	border:2px solid white;
	cursor:pointer;
	background:none;
	border-radius:5px;
	-webkit-transition:.5s;
			transition:.5s;
}
.fund input[type=submit]:hover{
	border:2px solid #D42A2A;
	background:#D42A2A;
}
button{
	font-size:20px;
	padding:10px 20px;
	border:2px solid white;
	cursor:pointer;
	background:none;
	border-radius:5px;
	-webkit-transition:.5s;
			transition:.5s;	
}
button:hover{
	border:2px solid #D42A2A;
	background:#D42A2A;	
}
.message{
	display:none;
	width:400px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
			transform:translate(-50%, -50%);
	background:rgb(0, 0, 0);
	padding:20px;
	font-size:20px;
}
.message button{
	margin-top:10px;
}
.message-password{
	display:none;
	width:400px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
			transform:translate(-50%, -50%);
	background:rgb(0, 0, 0);
	padding:20px;
	font-size:20px;	
}
.message-password button{
	margin-top:10px;
}
.purchase-history{
	display:none;
}
.purchase-history button{
	background:none;
	padding:5px;
	font-size:15px;
	border:1px solid white;
	border-radius:20px;
	-webkit-transition:.5s;
			transition:.5s;
}
.purchase-history button:hover{
	background:grey;
	cursor:pointer;
}
.confirm{
	display:none;
	width:400px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
			transform:translate(-50%, -50%);
	background:rgb(0, 0, 0);
	padding:20px;
	font-size:20px;	
	color:white;
}
.confirm button{
	margin-top:10px;
}
#page{
	color:white;
	display:block;
	padding:10px;
}
#page span{
	border:2px solid white;
	margin-left:10px;
	padding:10px;
	cursor:pointer;
	-webkit-transition:.5s;
			transition:.5s;
}
#page span:hover{
	border:2px solid #D42A2A;
	background:#D42A2A;	
}
.selected{
	background:#D42A2A;		
}
@media only screen and (max-width: 400px){
	.fund input[type=submit]{
		margin-top:10px;
	}
	.message{
		width:320px;
	}
	.confirm{
		width:320px;
	}
}
@media only screen and (max-width: 450px){
	.hidden-menu{
		width:400px;
	}
	.my-content{
		width:400px;
	}
	tr, th{
		border:2px solid white;
		padding:10px 5px;
		font-size:15px;
	}
	.btn-group{
		width:200px;
	}
	table{
		margin-left:85px;
	}
	.account-details{
		margin:0;
	}
}
@media only screen and (max-width: 640px){
	.my-content{
		width:500px;
	}
}